<h1>Listing idea_comments</h1>

<table>
  <tr>
  </tr>

<% @idea_comments.each do |idea_comment| %>
  <tr>
    <td><%= link_to 'Show', idea_comment %></td>
    <td><%= link_to 'Edit', edit_idea_comment_path(idea_comment) %></td>
    <td><%= link_to 'Destroy', idea_comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New idea_comment', new_idea_comment_path %>