<h2>Wollen sie Dateien für ihre Idee hochladen?</h2><br />
<br />
Akzeptiert werden alle folgende Dateien: pdf, Word- und Textdateien und Bilder
<br />
<% if @uploads != nil %>
Bisher hochgeladene Dateien:<br />
<%= render :partial => "shared/uploads_show" %>
<% end %>

<br />

<%= render :partial => "shared/upload" %>

<br />
<br />
<%= @idea_id %>
