<div class="border">
  <table style="width: auto;">
    <tr>
      <td><%= image_tag "/images/application/content/warning_sign.png", :alt => "Warnung" %></td>
      <td>
        <h2>Diese Seite ist zu überarbeiten</h2>
        <p style="margin-left: 0px;">Folgende Bereiche sind zu überarbeiten:</p>
        <ul style="margin-top: 10px;">
          <li>Anzahl der neuen/ungelesenen Objekte</li>
        </ul>
      </td>
    </tr>
  </table>
</div>

<div class="border">
  <div class="header">
    Willkommen in Ihrem persönlichen Arbeitsbereich
  </div>
  <div class="content">
    Sie haben 0 ungelesene Pinnwandeintr&auml;ge.
    <p>Sie haben 0 neue Aufgaben.</p>
    <p>Sie haben 0 ungelesene Nachrichten.</p>
    <p>Sie haben 0 unbeantwortete Authorisierungsanfragen.</p>
  </div>
</div>
