#content {
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 10px;
}
#content a:hover {
  text-decoration: underline;
}




#footer {
  color: #CCCCCC;
  text-align: center;
  padding: 10px;
  background-color: #333333;
  background-image: url(/images/application/footer/top.png);
  background-repeat: repeat-x;
}
