<div class="border">
  <table>
    <tr>
      <th>Titel</th>
      <th>Kategorie</th>
      <th>Kurzbeschreibung</th>
      <th>Projektform</td>
      <th></th>
    </tr>
    <% @projects.each do |project| %>
      <tr>
        <td><%=h project.title %></td>
        <td><%=h project.category %></td>
        <td><%=h project.short_description %></td>
        <td>
          <% if project.is_open %>
            Offen
          <% else %>
            Geschlossen
          <% end %>
        </td>
        <td style="text-align: right;"><%= link_to "Details", project %></td>
      </tr>
    <% end %>
  </table>
</div>
